body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#magazine{
	width: 1000px;
	height: 700px;
}

#magazine .turn-page{
	background-color: white;
}

#pages {
    width: 300%;
    box-sizing: border-box;
    display: flex;
}

.page {
    display: inline-flex;
    height: 100vh;
    width: 100vw;
    transition: all 1s;
}

.page-one {
    background-color: yellow;
}

.page-two {
    background-color: white;
    justify-content: center;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

.container-home {
    padding: 30px;
    display: inline-flex;
    height: 50vh;
    width: 50vw;
}

.container-zine {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-hand {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: right;
}

.container-hand-front {
    height: 450px;
    align-self: flex-end;
    margin-left: auto;
    position: absolute;
}

.container-hand-back {
    height: 450px;
    align-self: flex-end;
    margin-left: auto;
    position: absolute;
}

.container-hand-book {
    height: 700px;
    top: -1000px;
    right: 132px;
    position: absolute;
    transition: all 0.1s;
    cursor: pointer;
}

.section-one {
    padding: 30px;
    display: inline-flex;
    height: 50vh;
    width: 50vw;
}

.section-two {
    padding: 30px;
    display: inline-flex;
    height: 50vh;
    width: 50vw;
}

.first-page-hype {
    width: 100%;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.link:hover {
    font-weight: bold;
}

h1, h2 {
    margin: 6px;
    font-weight: normal;
}

h1 {
    font-size: 60px;
}