body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#magazine{
	width: 800px;
	height: 560px;
}

#magazine .turn-page{
	background-color: white;
}

#pages {
    width: 200%;
    box-sizing: border-box;
    display: flex;
}

.page {
    height: 100vh;
    width: 100vw;
    transition: all 1s;
}

.page-one {
    background-color: white;
    display: inline-flex;
}

.page-two {
    background-color: white;
    display: inline-flex;
    justify-content: center;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

.container-home {
    padding-left: 30px;
    display: inline-flex;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.container-zine {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-hand {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: right;
}

.container-hand-front {
    height: 450px;
    align-self: flex-end;
    margin-left: auto;
    position: absolute;
}

.container-hand-back {
    height: 450px;
    align-self: flex-end;
    margin-left: auto;
    position: absolute;
}

.container-hand-book {
    height: 50%;
    top: -400px;
    right: 182px;
    position: absolute;
    transition: all 1s;
    cursor: pointer;
}

.container-home-text {
    display: inline;
}

.fancy {
    font-family: "Bodoni Moda", serif;
}

h1, h2 {
    margin: 6px;
    font-weight: normal;
}

h1 {
    font-size: 50px;
}